<!DOCTYPE html>
<html>
	<th:block th:replace="fragments :: head('Categorie')"></th:block>

	<body>
		
		<!-- Header -->
		<th:block th:replace="fragments :: header()"></th:block>
		

		<!-- Messaggi errore -->
		<th:block th:replace="fragments :: errorMsg(${errors})"	></th:block>
		<!-- Messaggi conferma -->
		<th:block th:replace="fragments :: successMsg(${successMsg})"	></th:block>
	
	
		<!-- Main -->
		<main class="container-fluid">
			<div class="card w-25 m-auto p-4 my-5" th:each="category : ${obj}" 
					th:object="${category}" th:if="${!obj.isEmpty()}"> 
				<ul class="list-unstyled" >
				
					<li class=" text-center mt-1 mb-3 text-capitalize">
						<span class="fw-bold">		
							[[${category.name}]]
						</span>
					</li>
					<li>
						<span class="fw-bold">ID: </span>
						<span>
							[[${category.id}]]
						</span>
					</li>
					
					<li class="my-3" th:if="${category.getPhotos().size()}">
						<span class="fw-bold">Foto associate:</span>
						<hr/>
						<p th:each="photo : ${category.getPhotos()}" 
								th:object="${photo}">
							Id: [[*{id}]] | Nome: [[*{title}]],
						</p>
					</li>
				</ul>
				<div class="text-center">
					<a th:href="@{'/admin/category/show/{id}' (id=*{id}) }"
					   class="btn btn-success mx-1">
						Dettagli
			   		</a>
					   
					<a th:href="@{'/admin/category/edit/{id}' (id=*{id}) }"
					   class="btn btn-primary mx-2">
					   	Modifica
				   	</a>
					
					<a th:href="@{'/admin/category/delete/{id}' (id=*{id}) }"
					   class="btn button btn-danger mx-1" onclick="deleteConfirmation('Categoria')">
						Elimina
				   	</a>
				</div>
				
				<h3 th:if="${obj.isEmpty()}">Nessuna Categoria trovata</h3>
				
				<script type="text/javascript" th:src="@{/js/main.js}"></script>
			</div>
		</main>
	</body>
</html>