<!DOCTYPE html>
<html>
	<th:block th:replace="fragments :: head(${type} + ' nuovo post')"></th:block>
	<body>
	
		<!-- Header -->
		<th:block th:replace="fragments :: header()"></th:block>
		
		<!-- Messaggi -->
		<th:block th:replace="fragments :: errorMsg(${errors})"	></th:block>
		
		<main>		
		
			<form th:action="@{'/admin/' + ${element} + '/' + ${action} (id=*{id}) }"  method="POST"
				  th:object="${obj}" 
				  class="card text-center w-50 mx-auto d-flex justify-content-between align-items-center my-5">
				
				<h4 class="text-center pt-4"
					th:text="${routeName.equals('edit')}?'Modifica Post':'Crea Post'"></h4>
				
				<div class="w-100 p-4 d-flex justify-content-around align-items-center flex-row">
					
					<div class="w-50">
					
						<div class="my-2">
							<label class="d-block fw-bold pb-2">Titolo:</label>
							<input type="text" name="title" class="p-1 w-75" 
									th:field="*{title}"
									placeholder="Inserisci il titolo della foto"/>
						</div>
						<div class="my-2">
							<label class="d-block fw-bold pb-2">Descrizione:</label>
							<input type="text" name="description" 
									class="p-1 w-75" 
									th:field="*{description}" 
									style="min-height:120px;"
									placeholder="Inserisci la descrizione della foto" />
						</div>
						
						<div class="my-2">
							<label class="d-block fw-bold pb-2">URL:</label>
							<input type="text" class="p-1 w-75"  
									th:field="*{url}"
									placeholder="Inserisci l'url della foto"/>
						</div>
						
					

					</div>
					
					<div class="w-50">
					
						<div class="mb-3">
							<label class="fw-bold pe-2 d-inline-block">Tag:</label>
							<input type="text" name="tag" th:field="*{tag}"
									placeholder="Inserisci il tag"/>
						</div>
					
						<div class="my-4 py-2">
							<span class="fw-bold me-3 vertical-align-middle">Visibile:</span>
							<input type="radio" name="visible" value="true" id="chY" 
								   th:field="*{visible}"/>
							<label for="chY" class="me-3" >Si</label>
				
							<input type="radio" name="visible" value="false" id="chF" 
								   th:field="*{visible}"  class="ms-3"/>
							<label for="chF">No</label>
						</div>
						
						<!-- Checkbox Category -->
						<div class="mt-3">
							<label class="fw-bold pe-2 d-inline-block">Categorie:</label>
							<hr/>		
							
							<div class="d-flex align-items-center flex-wrap my-2">
								
								<span class="w-50 text-center text-capitalize" 
									  th:each="category : ${categories}" th:object="${category}">	
							
									<input type="checkbox" name="categories" 
											th:value="*{id}" 
											th:field="${obj.categories}" />
										
									<label class="fw-bold d-inline-block">[[${category.name}]]</label>
								</span>
							</div>
						</div>

						
						
						<!-- Checkbox Tags --> 
						<!-- <div class="mt-3">
							<label class="fw-bold pe-2 d-inline-block">Tags:</label>
							<hr/>
							
							<div class="d-flex align-items-center flex-wrap my-2">
							
								<span class="w-50 text-center text-capitalize" 
									  th:each="tag : ${tgs}" th:object="${tag}">
									
									<input type="checkbox" name="tags" 
											th:value="*{id}"
											th:field="${obj.tags}"
											class="mb-3">
									
									<label class="fw-bold d-inline-block">[[${tag}]]</label>
								</span>	
							</div>
						</div> -->
					</div>
				</div>
				
				<input type="submit" th:value="${type}" class="btn btn-primary w-25 m-auto my-3" />
				
			</form>
		</main>
	
	</body>
</html>