<!DOCTYPE html>
<html>
	<th:block th:replace="fragments :: head(${type} + ' nuovo post')"></th:block>
	<body>
	
		<!-- Header -->
		<th:block th:replace="fragments :: header()"></th:block>
		
		<!-- Messaggi -->
		<th:block th:replace="fragments :: errorMsg(${errors})"	></th:block>
		
		<main>		
		
			<form th:action="@{'/admin/' + ${element} + '/store'}"  method="POST"
				  th:object="${obj}" class="card p-4 text-center w-25 mx-auto my-5">
				
				<h3 class="my-3">Crea una nuova pizza</h3>
				
				<span class="my-2">
					<label class="d-block fw-bold pb-2">Titolo:</label>
					<input type="text" name="title" class="p-1 w-75" th:field="*{title}"/>
				</span>
				<span class="my-2">
				<label class="d-block fw-bold pb-2">Descrizione:</label>
					<input type="text" name="description" 
							class="p-1 w-75" th:field ="*{description}" style="min-height:120px;"/>
				</span>
				
				<span class="my-2">
					<label class="d-block fw-bold pb-2">URL:</label>
					<input type="text" class="p-1 w-75"   th:field="*{url}"/>
				</span>
				
				<div class="my-3">
					<span class="fw-bold me-3 vertical-align-middle">Visibile:</span>
					<input type="checkbox" name="chY" value="true" id="chY" 
						   th:field="*{visible}"/>
					<label for="chY" class="me-3" >Si</label>
		
					<input type="checkbox" name="chF" value="false" id="chF" 
						   th:field="*{visible}"  class="ms-3"/>
					<label for="chF">No</label>
				</div>
				
				<input type="submit" th:value="${type}" class="btn btn-primary w-25 m-auto my-3" />
				
			</form>
		</main>
	
	</body>
</html>