<!DOCTYPE html>
<html>
	<th:block th:replace="fragments :: head('Foto')"></th:block>

	<body>
		
		<!-- Header -->
		<th:block th:replace="fragments :: header()"></th:block>
		
		<!-- Ricerca  -->
		<div class="w-100 text-center" style="border-bottom:1px solid black;background-color:grey">
			<form class="p-4">
				<label class="fw-bold my-3 me-3 d-inline-block">Rierca foto:</label>
				<input type="text" name="query" th:value="${query}" class="my-3 me-3 p-1 w-25" placeholder="Inserisci il nome o il tag da cercare">
				
				<input type="submit" class="btn btn-primary" value="Cerca">
			</form>
		</div>
	
		
		<!-- Messaggi errore -->
		<th:block th:replace="fragments :: errorMsg(${errors})"	></th:block>
		<!-- Messaggi conferma -->
		<th:block th:replace="fragments :: successMsg(${successMsg})"	></th:block>
	
	
		<!-- Main -->
		<main class="container-fluid">
			<div class="card w-25 m-auto p-4 my-5" th:each="photo : ${photos}" th:object="${photo}" th:if="${!photos.isEmpty()}"> 
				<ul class="list-unstyled" >
					<li class=" text-center mt-1 mb-3 text-capitalize">
						<span class="fw-bold">		
							[[${photo.title}]]
						</span>
					</li>
					<li>
						<span class="fw-bold">ID: </span>
						<span>
							[[${photo.id}]]
						</span>
					</li>
					<li>
						<span class="fw-bold">Descrizione: </span>
						<span>
							[[${photo.description}]]
						</span>
					</li>
					<li>
						<span class="fw-bold">URL: </span>
						<span>
							[[${photo.url}]]
						</span>
					</li>
					<li>
						<span class="fw-bold">Visibile: </span>
						<span>
							[[${photo.visible}]]
						</span>
					</li>
					<li class="my-3">
						<span class="fw-bold">Categoria:</span>
						<hr/>
						<span th:each="category : ${photo.getCategories()}" th:object="${category}">
							[[${category.name}]]
						</span>
						<span th:if="${photo.getCategories().isEmpty()}">Nessuna categoria associata</span>
					</li>
					<li class="my-3">
						<hr>
						<span class="fw-bold">Tag:</span>
						<span th:if="${photo.tag}">[[${photo.tag}]], </span>
						<span th:if="!${photo.tag}">Nessun tag associato</span>
					</li>
				</ul>
				<div class="text-center">
					<a th:href="@{'/admin/photo/show/{id}' (id=*{id}) }"
					   class="btn btn-success mx-1">
						Dettagli
			   		</a>
					   
					<a th:href="@{'/admin/photo/edit/{id}' (id=*{id}) }"
					   class="btn btn-primary mx-2">
					   	Modifica
				   	</a>
					
					<a th:href="@{'/admin/photo/delete/{id}' (id=*{id}) }"
					   class="btn button btn-danger mx-1" onclick="deleteConfirmation('Foto')">
						Elimina
				   	</a>
				</div>
				
				<h3 th:if="${photos.isEmpty()}">Nessuna foto trovata</h3>
				
				<script type="text/javascript" th:src="@{/js/main.js}"></script>
			</div>
		</main>
	</body>
</html>